*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html,body{
      height: 100%;
      width: 100%;
}

      /* navbar + first section styling by dilkashjamal8  */




      /*  second section styling by tausif9123 */




      /*  third section styling by mohdsaif00 */


      /* ====================================================================== */

 /* plans & pricing page styling by saif */     



 /* buisness page styling by dilkashjamal */



 /* signup page styling by tausif */